on:
  release:
    types: [created]

permissions:
    contents: write
    packages: write

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin, android]
        goarch: [amd64, arm64]
        exclude:
          - goarch: amd64
            goos: android
          - goarch: arm64
            goos: windows
    steps:
    - uses: actions/checkout@v4
    - name: Set Go CGO
      uses: wangyoucao577/go-release-action@v1
      env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        project_path: "."
        pre_command: "if [ \"\$GOOS\" = \"windows\" ]; then\n  export BINARY_SUFFIX=\"\$BINARY_SUFFIX.exe\"\nfi\nif [ \"\$GOOS\" = \"android\" ]; then\n  case \"\$GOARCH\" in\n    \"arm64\") export CC=\"\$ANDROID_NDK_LATEST_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android32-clang\" ;;\n    \"arm\") export CC=\"\$ANDROID_NDK_LATEST_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi32-clang\" ;;\n    \"amd64\") export CC=\"\$ANDROID_NDK_LATEST_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android32-clang\" ;;\n    \"386\") export CC=\"\$ANDROID_NDK_LATEST_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/i686-linux-android32-clang\" ;;\n  esac\nfi\nexport BINARY_NAME=\"\$BINARY_PREFIX\${GOOS}_\$GOARCH\$BINARY_SUFFIX\"\nexport CGO_ENABLED=\$( [ \"\$GOOS\" = \"android\" ] && echo 1 || echo 0 )\ngo mod tidy"
        build_flags: "-v"
        ldflags: "-s -w"
        binary_name: "ttm"