on:
  release:
    types: [created]

permissions:
    contents: write
    packages: write
env:
  CC: ""
  CGO_ENABLED: 0

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [android]
        goarch: [arm64]
    steps:
    - uses: actions/checkout@v4
    - uses: wangyoucao577/go-release-action@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        project_path: "."
        pre_command: "export CC=\"$ANDROID_NDK_LATEST_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android32-clang\" && export CGO_ENABLED=1 && go mod tidy"
        build_flags: "-v"
        ldflags: "-s -w"
        binary_name: "ttm"