on:
  release:
    types: [created]

permissions:
 contents: write
 packages: write

env:
  BINARY_PREFIX: "ttm"
  BINARY_SUFFIX: ""
  LD_FLAGS: "-w -s"

jobs:
  build:
    name: Build binary CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin, android]
        goarch: [amd64, arm64]
        exclude:
         - goos: windows
           goarch: arm64

      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go environment
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.3
      - name: Cache downloaded module
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ matrix.goos }}-${{ matrix.goarch }}-${{ hashFiles('**/go.sum') }}
      - name: Build binary file
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          if [ $GOOS == "windows" ]; then export BINARY_SUFFIX="$BINARY_SUFFIX.exe"; fi
          if [ "$GOOS" == "android" ]; then declare -A goarch2cc=( ["arm64"]="aarch64-linux-android32-clang" ["arm"]="armv7a-linux-androideabi32-clang" ["amd64"]="x86_64-linux-android32-clang" ["386"]="i686-linux-android32-clang"); export CC="$ANDROID_NDK_LATEST_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/${goarch2cc[$GOARCH]}"; fi
          export BINARY_NAME="$BINARY_PREFIX$BINARY_SUFFIX"
          export CGO_ENABLED=$( [ "$GOOS" == "android" ] && echo 1 || echo 0 )
          go build -o "$GITHUB_WORKSPACE/output/$BINARY_NAME" -trimpath -ldflags "$LD_FLAGS" .
          zip "$GITHUB_WORKSPACE/output/$BINARY_NAME-$GOOS-$GOARCH.zip" "$GITHUB_WORKSPACE/output/$BINARY_NAME"
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: output/${{ env.BINARY_PREFIX }}*.zip
          overwrite: true
          file_glob: true